body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}

.site {
    display: grid;
    grid-template-areas:
    'title nav'
    'main main'
    'main main';
}

.about {
    display: grid;
    grid-template-areas:
    'title nav'
    'main main'
    'main main';
}

.proto {
    display: grid;
    grid-template-areas:
    'title nav'
    'main main'
    'main main';
}


#title, .nav {
    margin: 1em;
}



#bar {
    float: right;
    margin-right: 1em;
}

#bar li{
    margin: 0.3em;
    display: inline;
}

#bar li a, #bar li {
    text-decoration: none;
    
    color: black;
    font-size: 1.2rem;
}

#bar li a:hover {
    text-decoration: underline;
}



#title {
    grid-area: title;
    font-size: 1.6em;
}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
    margin-left: 0;
    padding: 0;
}

.splash {
    width: 100%;
    margin-left: 0;
    padding: 0;
}

h2 {
    margin: 1.7em;
}

h3 {
    margin: 1em 2.2em;
}

/*About styles*/

.main2 {
    display: grid;
    grid-template-areas: 'person1 person2 person3';
    grid-template-columns: 1fr 1fr 1fr;
}

#person1 {
    grid-area: person1;
}

#person2 {
    grid-area: person2;
}

#person3 {
    grid-area: person3;
}

#person1, #person2, #person3 {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.85rem;
}

img {
    width: 100%;
}

/*Prototype Styles*/

.proto_link {
    text-decoration: none;
    
    color: darkslateblue;
    font-size: 2rem;
    font-weight: bold;
    margin: 1em;
}

.proto_link:hover {
    text-decoration: underline;
    color: royalblue;
}

.proto_photo {
    width: 25%;
}

.proto_section {
    display: grid;
    grid-template-areas: 'sec1 sec2 sec3';
    grid-template-columns: 1fr 1fr 1fr;
}

.proto_section .proto_photo {
    width: unset;
    height: 40%;
}

#sec1 {
    grid-area: sec1;
    border: 1px solid black;
}

#sec1 .proto_photo {
    height: unset;
    width: 100%;
}

#sec2 {
    grid-area: sec2;
    border: 1px solid black;
}

#sec3 {
    grid-area: sec3;
    border: 1px solid black;
}


/*Testing Styles*/

.test {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.chart {
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
}


/*Hi-Fi Testing Styles*/

.data {
    background-color: #F5F5F5;
}

.data h2 {
    padding-top: 2rem;
}

.data img {
    width: 70%;
    margin-left: 15%;
}

.doc_link {
    display: block;
    margin: 2rem 2.5rem;
}

.doc_link:link {
    color: black
}

.doc_link:visited {
    color: darkslateblue
}

.hi_screens {
    display: grid;
    grid-template-areas:
    'hi1 hi2 hi3'
    'hi4 hi5 hi6'
    'hi7 hi8 void';
    grid-template-columns: 1fr 1fr 1fr;
}

.hi_screens div img {
    width: 50%;
    margin-left: 25%;
}

.hi_screens div p {
    padding-right: 7rem;
    padding-left: 7rem;
}

.hi_screens div h3 {
    padding-left: 4.5rem;
}

.hi1 {
    grid-area: hi1;
}

.hi2 {
    grid-area: hi2;
}

.hi3 {
    grid-area: hi3;
}

.hi4 {
    grid-area: hi4;
}

.hi5 {
    grid-area: hi5;
}

.hi6 {
    grid-area: hi6;
}

.hi7 {
    grid-area: hi7;
}

.hi8 {
    grid-area: hi8;
}

.void {
    grid-area: void;
}


footer {
    margin: 0.5em;
    width: 100%;
}
