body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.site {
    display: grid;
    grid-template-areas:
    'title nav'
    'main main'
    'main main';
}

.about {
    display: grid;
    grid-template-areas:
    'title nav'
    'main main'
    'main main';
}

.proto {
    display: grid;
    grid-template-areas:
    'title nav'
    'main main'
    'main main';
}


#title, .nav {
    margin: 1em;
}



#bar {
    float: right;
    margin-right: 1em;
}

#bar li{
    margin: 0.3em;
    display: inline;
}

#bar li a, #bar li {
    text-decoration: none;
    
    color: black;
    font-size: 1.5rem;
}

#bar li a:hover {
    text-decoration: underline;
}



#title {grid-area: title;}

.nav {
    grid-area: nav;
}

.main {
    grid-area: main;
    margin-left: 0;
    padding: 0;
}

.splash {
    width: 100%;
    margin-left: 0;
    padding: 0;
}

/*About styles*/

h2 {
    margin: 1.5em;
}

.main2 {
    display: grid;
    grid-template-areas: 'person1 person2 person3';
    grid-template-columns: 1fr 1fr 1fr;
}

#person1 {
    grid-area: person1;
}

#person2 {
    grid-area: person2;
}

#person3 {
    grid-area: person3;
}

#person1, #person2, #person3 {
    padding-left: 10%;
    padding-right: 10%;
    font-size: 0.85rem;
}

img {
    width: 100%;
}

/*Prototype Styles*/

.proto_link {
    text-decoration: none;
    
    color: darkslateblue;
    font-size: 2rem;
    font-weight: bold;
    margin: 1em;
}

.proto_link:hover {
    text-decoration: underline;
    color: royalblue;
}

.proto_photo {
    width: 25%;
}

.proto_section {
    display: grid;
    grid-template-areas: 'sec1 sec2 sec3';
    grid-template-columns: 1fr 1fr 1fr;
}

.proto_section .proto_photo {
    width: unset;
    height: 40%;
}

#sec1 {
    grid-area: sec1;
    border: 1px solid black;
}

#sec1 .proto_photo {
    height: unset;
    width: 100%;
}

#sec2 {
    grid-area: sec2;
    border: 1px solid black;
}

#sec3 {
    grid-area: sec3;
    border: 1px solid black;
}



footer {
    margin: 0.5em;
    width: 100%;
}
