body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: grid;
    grid-template-areas:
    'title nav'
    'main main'
    'main main';
}

#bar {
    float: right;
}

#bar li{
    display: inline;
}

#title {grid-area: title;}

.nav {
    grid-area: nav;
}

.main {grid-area: main;}

.splash {width: 100%;}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}
